<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeoMarker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GeoMarker.styles.css" asp-append-version="true" />
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AsUyDclFTSh-puYhT6diWZ_GE9ZgYQyqTtBn99ng2JqipjZdFgItrg-OskntkyJR' async defer></script>
    <script src="https://kit.fontawesome.com/a77035a0c0.js" crossorigin="anonymous"></script>
</head>
<body class="container-fluid vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-blue">
            <div class="container-fluid">
                <a class="navbar-brand ps-4 pe-5" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/geomarker-logo.svg" alt="GeoMarker Logo" /></a>
                <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white fs-7" asp-area="" asp-controller="Markers" asp-action="Index"><i class="fa-solid fa-location-pin text-warning"></i>View Markers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-7" asp-area="" asp-controller="Categories" asp-action="Index"><i class="fa-solid fa-list text-warning"></i>View Categories</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="nav-link text-white fs-7" asp-controller="Markers" asp-action="Create"><i class="fa-solid fa-map-location text-warning"></i>Create New Marker</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div>
            <a class="bg-lightgrey w-100 p-1 text-center d-block d-sm-none text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target=".sidebar-toggle" aria-expanded="true">
                Tap to Toggle Map
            </a>
        </div> 
    </header>
    <div>
        <main role="main" class="container-fluid">
            <div class="d-flex flex-wrap flex-nowrap">
                <div class="sidebar col-12 col-sm-6 col-xl-4 col-xxl-3 overflow-scroll collapse show sidebar-toggle">
                    <div class="page-header bg-orange p-4 shadow-sm">
                        <h1 class="display-3">@ViewData["Heading"]</h1>
                        <p class="fs-6">@ViewData["Content"]</p>
                    </div>
                    <div class="">
                        @RenderBody()
                    </div>
                 </div>
                <div class="mymap-container col-12 col-sm-6 col-xl-8 col-xxl-9">
                    <partial name="_MapPartial" />
                    <footer class="footer position-sticky bottom-0 text-center text-white small bg-blue text-wrap">
                    &copy; 2022 - GeoMarker - Mark McGuigan 020024941 - Server-Side Scripting-ASP.NET - COMP2084 Fall 2022 - <a href="https://github.com/mcgmark/GeoMarker" target="_blank" class="text-white text-decoration-none">View on Github</a> - <a class="text-white text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </footer>
                </div>
            </div>
        </main>
    </div>

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
