@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav pe-4">
@if (SignInManager.IsSignedIn(User))
{
 
        <li class="nav-item">
            <a class="nav-link text-whit fs-6" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa-solid fa-gears"></i>@User.Identity?.Name</a>
         </li>
        <li class="nav-item">
             <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                 <button type="submit" class="nav-link btn btn-link text-white bg-orange border-white text-weight-bold border-white rounded fs-6">Logout</button>
             </form>
        </li>
}
else
{
    
    <li class="nav-item me-1">
        <a class="nav-link text-dark text-white bg-orange border-white border rounded p-2 text-center fs-6" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item me-1">
            <a class="nav-link text-dark text-white bg-orange border-white border rounded p-2 text-center fs-6" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
   
}
</ul>
