@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    
    <div class="container-fluid bg-info">
        <div class="p-5">
          <h1 class="display-4">GeoMarker : Mark McGuigan</h1>
          <p class="display-6 lead">Leave your mark!</p>
        </div>
    </div>
    <article class="table">
        <div class="row">
            <div class="col p-3">
                <h2>What?</h2>
                <p>GeoMarker is an app created to allow you to post and view a location of something on a map.</p>
            </div>
            <div class="col p-3">
                <h2>Why?</h2>
                <p>This app is the semester assignment for Georgian College Comp2084 Server-Side Scripting class. This app is a demonstration of the knowledge and skills obtained through the semester.</p>
            </div>
            <div class="col p-3">
                <h2>What else?</h2>
                <p>This was built on the ASP.Net framework and implements user input, user authentication, MS SQL database CRUD, and Map API. This project also implements Javascript and Bootstrap.</p>
            </div>
        </div>
        <!-- <div class="row">
            <div class="d-flex justify-content-around align-items-center">
                <h3>What should I mark?</h3>
                <ul">
                    <li>Location of a hidden item.</li>
                    <li>A location special to you.</li>
                    <li>Where you lost or found something.</li>
                    <li>Roadside attraction you found on your last roadtrip.</li>
                    <li>Post your weekend garage sale.</li>
                    <li>Keep track of bigfoot sightings.</li>
                    <li>Anything you want, but family friendly!.</li>
                </ul>
            </div> 
        </div>-->
    </article>
</div>
