@{
    ViewData["Title"] = "Home : GeoMarker";
    ViewData["Heading"] = "Welcome";
    ViewData["Content"] = "Make your mark by dropping a marker on the map!";
}

<div class="mb-5 pb-5 p-2">

    <article class="table">
        <div class="row bg-white p-4 mb-3 shadow-sm rounded-3 m-2">
            <h2 class="display-6 mb-3 text-primary">What</h2>
            <p class="pb-3">GeoMarker is an app that allows you to view saved locations on a map.</p>
            <div>
                
                    <a class="btn text-primary text-decoration-none bg-blue p-2 rounded border border-primary text-nowrap mb-2" asp-controller="Markers" asp-action="Index"><i class="fa-solid fa-location-pin"></i>View Markers</a>
                    <a class="btn text-primary text-decoration-none bg-blue p-2 rounded border border-primary text-nowrap mb-2" asp-controller="Markers" asp-action="Create"><i class="fa-solid fa-pencil"></i>Create Marker</a>
                
            </div>
        </div>
        <div class="row bg-white p-4 mb-3 shadow-sm rounded-3 m-2">
            <h2 class="display-6 mb-3 text-primary">Why</h2>
            <p class="pb-3">This app is the semester project for Georgian College Comp2084 Server-Side Scripting. This app is a demonstration of the knowledge and skills obtained through the semester.</p>
            <div>
                
                    <a class="text-primary text-decoration-none bg-blue p-2 rounded border border-primary text-nowrap" href="http://www.georgiancollege.ca"><i class="fa-solid fa-location-pin"></i>Learn More about Georgian College</a>
                
            </div>
        </div>
        <div class="row bg-white p-4 mb-3 shadow-sm rounded-3 m-2">
            <h2 class="display-6 mb-3 text-primary">How</h2>
            <p class="pb-3">This was built on the ASP.Net platform and implements user input, user authentication/authorization, MSSQL database CRUD, JSON API, and Bing Map API. This project also implements Javascript and Bootstrap.</p>
            <div>
                
                    <a class="text-primary text-decoration-none bg-blue p-2 rounded border border-primary text-nowrap" href="https://dotnet.microsoft.com/en-us/apps/aspnet"><i class="fa-solid fa-location-pin"></i>Learn More About ASP.Net</a>
                
            </div>
        </div>
        <div class="row bg-white p-4 shadow-sm rounded-3 m-2">

            <h3 class="display-6 mb-3 text-primary">Marker Ideas</h3>
                <ul class="list-group fs-6 mb-3">
                    <li class="list-group-item"><i class="fa-solid fa-location-pin text-primary"></i>Location of a hidden item.</li>
                    <li class="list-group-item"><i class="fa-solid fa-location-pin text-primary"></i>A location special to you.</li>
                    <li class="list-group-item"><i class="fa-solid fa-location-pin text-primary"></i>Where you lost or found something.</li>
                    <li class="list-group-item"><i class="fa-solid fa-location-pin text-primary"></i>Roadside attraction you found on your last roadtrip.</li>
                    <li class="list-group-item"><i class="fa-solid fa-location-pin text-primary"></i>Post your weekend garage sale.</li>
                    <li class="list-group-item"><i class="fa-solid fa-location-pin text-primary"></i>Keep track of bigfoot sightings.</li>
                    <li class="list-group-item"><i class="fa-solid fa-location-pin text-primary"></i>Anything you want, but family friendly!</li>
                </ul>
            
            <div class="row rounded">
                <div class="d-flex justify-content-around">
                    <a class="text-primary text-decoration-none p-2 rounded border border-primary text-nowrap" asp-controller="Markers" asp-action="Index"><i class="fa-solid fa-location-pin"></i>Lets Get Started!</a>
                </div>
            </div>
        </div>
    </article>
</div>
