@{
    ViewData["Title"] = "Privacy Policy : GeoMarker";
    ViewData["Heading"] = "Privacy Policy";
    ViewData["Content"] = "We respect our users privacy and here is how we do it.";
}
<div class="mb-5 pb-5 p-3 bg-white">
<p>Use this page to detail your site's privacy policy.</p>
</div>