@{
    ViewData["Title"] = "Privacy Policy : GeoMarker";
    ViewData["Heading"] = "Privacy Policy";
}
<div class="container-fluid p-5 m-5">
<p>Use this page to detail your site's privacy policy.</p>
</div>