@model GeoMarker.Models.Category

@{
    ViewData["Title"] = "Delete Category : GeoMarker";
    ViewData["Heading"] = "Delete Category";
    ViewData["Content"] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin lorem ante, eget rutrum ligula sagittis eu. Vestibulum suscipit orci a nunc fringilla maximus.";
}

<div class="mt-4 pb-5">
    
    <p class="p-4">@Html.DisplayFor(model => model.Name)</p>
 
    <div class="p-2 bg-orange d-flex justify-content-around ">
        <form asp-action="Delete">
            <span>
                <input type="hidden" asp-for="CategoryId" />
                <span class="text-white"><i class="fa-regular fa-trash-can"></i><input type="submit" value="Delete" class="btn p-0 text-white" /></span>
            </span>
        </form>

        <div>
            <a class="text-white" asp-action="Details" asp-route-id="@Model?.CategoryId"><i class="fa-regular fa-rectangle-xmark"></i>Cancel</a>
        </div>
    </div>
</div>
