@model GeoMarker.Models.Category

@{
    ViewData["Title"] = "Category Details : GeoMarker";
    ViewData["Heading"] = "Category Details";
}

@if (User.IsInRole("Administrator"))
{
    <div class="d-flex align-items-center justify-content-end p-2 mb-4 med-gray gm-lower">
        <div class=""><a asp-action="Edit" asp-route-id="@Model?.CategoryId">Edit</a></div>
        <div class="border-primary"><a class="p-2 display-7" asp-action="Index"><i class="fa-solid fa-map-location"></i>Back to List</a></div>
    </div>
}
<div class="col=8 offset-1">
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

