@model IEnumerable<GeoMarker.Models.Category>

@{
    ViewData["Title"] = "Marker Categories : GeoMarker";
    ViewData["Heading"] = "Categories";
    ViewData["Content"] = "View markers by category.";
}


<div class="row bg-white mb-3 shadow-sm">
    <div class="col p-4">
    <table class="table table-hover">
    <tbody>
@foreach (var item in Model) {
                <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                    <td class="d-flex flex-column flex-lg-row">
                        @if (User.IsInRole("Administrator"))
                   {
                            <a asp-action="Edit" asp-route-id="@item.CategoryId" class="text-nowrap text-primary border border-primary p-2 m-1 ms-0 rounded small text-decoration-none text-center">Edit<i class="fa-solid fa-pencil"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.CategoryId" class="text-nowrap text-primary border border-primary  p-2 m-1 ms-0 rounded small text-decoration-none text-center">Delete<i class="fa-regular fa-trash-can"></i></a>
                   }
                            <a asp-action="Index" asp-controller="Markers" asp-route-category="@item.Name" class="btn btn-sm text-nowrap text-primary border border-primary p-2 m-1 ms-0 rounded small text-decoration-none text-center">View Markers<i class="fa-solid fa-circle-arrow-right"></i></a>
             </td>
        </tr>
}
    </tbody>
</table>
        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Create" asp-controller="Categories" class="flex-fill me-md-1 mb-1 zindex-top text-primary p-2 border border-primary rounded small text-decoration-none text-center"><i class="fa-solid fa-pencil"></i>Create New Category</a>
        }
    </div>

</div>