@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
    ViewData["Heading"] = "Email Confirmed";
    ViewData["Content"] = "Your email has been confirmed.";
}

<div class="mb-5 pb-5 p-3">
    <a class="w-50 btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Click Here To Login</a>
</div>

