html {
    font-size: 14px;
    overflow: hidden;
    background-color: #fbfbfb;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
   overflow: hidden;
}

p {
    word-wrap: anywhere;
}

nav img {
    width: 200px;
}

header nav {
    min-height: 75px;
}

main {
    height: calc(100vh - 75px);
}

.marker-image-small {
    min-width: 160px;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#myMap {
    height: calc(100vh - 95px);
}

.sidebar {
    background-color: #f8f8f8;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: calc(100vh - 80px);
}

    .sidebar::-webkit-scrollbar {
        width: 6px; /* width of the entire scrollbar */
    }

    .sidebar::-webkit-scrollbar-track {
        background: #f8f8f8; /* color of the tracking area */
    }

    .sidebar::-webkit-scrollbar-thumb {
        background-color: #d9d9d9; /* color of the scroll thumb */
        border-radius: 50px; /* roundness of the scroll thumb */
    }

.bg-orange {
    background-color: #ffd738 !important;
}

.bg-lightgrey {
    background-color: #f7f7f7;
}

.card-img-top-large {
    width: 100%;
}

.bg-blue {
    background-color: #0065f8;
}

.text-blue {
    color: #0778ff !important;
}

.row > * {
    padding-left: calc(var(--bs-gutter-x) * .2);
}

i {
    margin-right: 3px;
    margin-left: 3px;
}

.infobox {
    max-width: 200px;
    pointer-events: auto !important;
    line-height: 1em;
}

a.infobox-close:link, a.infobox-close:visited {
    color: #333;
    text-decoration: none;
    position: absolute;
    top: 4px;
    right: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    z-index: 150;
}

.bg-lightorange {
    background-color: rgb(252,202,70, 0.2) !important;
}

footer {
    line-height: 1.5em !important;
    z-index: 200;
}

.page-header {
    background-image: url("../img/header-bg.svg");
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}

.zindex-top {
    z-index: 100;
}