@model GeoMarker.Models.Marker

@{
    ViewData["Title"] = "Edit Marker : GeoMarker";
    ViewData["Heading"] = "Edit Marker";
    ViewData["PageType"] = "cancel";
}

<div class="col-11 offset-1 p-2 mt-4">
<h1 class="display-6">Markers</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin lorem ante, eget rutrum ligula sagittis eu. Vestibulum suscipit orci a nunc fringilla maximus.</p>
</div>

<div class="card col-7 offset-1">
    @if (Model.Photo != null)
    {
        <img class="card-img-top-large" src="~/img/markers/@Model.Photo" alt="Marker Photo" />
    }
    else
    {
        <img class="card-img-top-large" src="~/img/markers/placeholder.png" alt="Marker Photo" />
    }
    <div class="row">
        <div class="p-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MarkerId" />
                <div class="form-group">
                    <input asp-for="UserName" type="hidden" class="form-control" value="@User.Identity?.Name" readonly />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Latitude" class="control-label"></label>
                    <input asp-for="Latitude" class="form-control" id="latitude"/>
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitude" class="control-label"></label>
                    <input asp-for="Longitude" class="form-control" id="longitude"/>
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="CreatedDate" class="form-control" value="@ViewData["CurrentDate"]" type="hidden" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="p-1 d-flex justify-content-around bg-orange">
                    <span class="p-2 text-white"><i class="fa-solid fa-check"></i><input type="submit" value="Save" class="btn p-0 text-white" /></span>
                    <a class="p-2" asp-action="Details" asp-route-id="@Model?.MarkerId"><i class="fa-regular fa-rectangle-xmark"></i>Cancel</a>
                </div>
            </form>
        </div>
    </div>
   
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
