@model GeoMarker.Models.Marker

@{
    ViewData["Title"] = "Edit Marker : GeoMarker";
    ViewData["Heading"] = "Edit Marker";
    ViewData["Content"] = "Edit your marker details.";
}

<div class="mb-5 pb-5">
    @if (Model.Photo != null)
    {
        <img class="card-img-top-large" src="~/img/markers/@Model.Photo" alt="Marker Photo" />
    }
    else
    {
        <img class="card-img-top-large" src="~/img/markers/placeholder.png" alt="Marker Photo" />
    }
    <div class="row">
        <div class="p-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MarkerId" />
                <div class="form-group">
                    <input asp-for="UserName" type="hidden" class="form-control" value="@User.Identity?.Name" readonly />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Latitude" class="control-label"></label>
                    <input asp-for="Latitude" class="form-control" id="latitude"/>
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitude" class="control-label"></label>
                    <input asp-for="Longitude" class="form-control" id="longitude"/>
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="CreatedDate" class="form-control" value="@ViewData["CurrentDate"]" type="hidden" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="mt-3 p-2 d-flex justify-content-around bg-blue">
                    <span class=" text-white"><i class="fa-solid fa-check"></i><input type="submit" value="Save" class="btn p-0 text-white text-decoration-none" /></span>
                    <a class="text-white text-decoration-none" asp-action="Details" asp-route-id="@Model?.MarkerId"><i class="fa-regular fa-rectangle-xmark"></i>Cancel</a>
                </div>
            </form>
        </div>
    </div>
   
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
